In [1]:
import pandas as pd
import numpy as np

## Text method on pandas string column

In [2]:
data = {
    'Student_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace'],
    'Age': ['22', '21', '23', '24', '20', '22', '25'],
    'Grade': ['A', 'B', 'C', 'B', 'A', 'A', 'B']
}

In [3]:
type(data)

dict

In [4]:
data = pd.DataFrame(data)
data

  Student_Name Age Grade
0        Alice  22     A
1          Bob  21     B
2      Charlie  23     C
3        David  24     B
4         Emma  20     A
5        Frank  22     A
6        Grace  25     B

In [5]:
data['Student_Name']

0      Alice
1        Bob
2    Charlie
3      David
4       Emma
5      Frank
6      Grace
Name: Student_Name, dtype: object

In [6]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']
tickers = pd.Series(tech_finance)
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [7]:
tickers.str.split()

0    [GOOG,APPL,AMZN]
1        [JPM,BAC,GS]
dtype: object

In [19]:
#spliting text
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [20]:
tick = pd.Series(tech_finance)

In [21]:
tick

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [23]:
tick.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [24]:
tick.str.split(',',expand = True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

### Cleaning or Editing Strings

In [25]:
wrong_names = pd.Series(["andrew  ","bo;bo","  claire  "])

In [29]:
#names are unreal and it seems it is not like real name
wrong_names.str.replace(';','')

0      andrew
1          bobo
2      claire
dtype: object

In [31]:
wrong_names.str.strip().str.replace(';','')

0    andrew
1      bobo
2    claire
dtype: object

In [38]:
s2 = pd.Series(["a_b_c", "c_d_e", np.nan, "f_g_h"], dtype="string")

s2.str.split('_')

In [45]:
d = s2.str.split('_',expand = True)

In [47]:
d.columns = ['u1','u2','u3']

In [48]:
d

     u1    u2    u3
0     a     b     c
1     c     d     e
2  <NA>  <NA>  <NA>
3     f     g     h

#### use custom function with apply() method

In [49]:
def clean_up(col):
    col = col.replace(";",'')
    col = col.strip()
    return col

In [50]:
wrong_names.apply(clean_up)

0    andrew
1      bobo
2    claire
dtype: object

In [51]:
vector = np.vectorize(clean_up)

In [54]:
l = vector(wrong_names)

In [55]:
pd.DataFrame(l)

        0
0  andrew
1    bobo
2  claire