In [1]:
import pandas as pd
import numpy as np

### Read and Write CSV Files

In [2]:
data = {
    'Column1': [10, 20, 30, 40, 50],
    'Column2': [1.5, 2.5, 3.5, 4.5, 5.5],
    'Column3': ['A', 'B', 'C', 'D', 'E']
}


df = pd.DataFrame(data)

In [3]:
df = df.set_index('Column1')

In [4]:
df

         Column2 Column3
Column1
10           1.5       A
20           2.5       B
30           3.5       C
40           4.5       D
50           5.5       E

In [5]:
df.to_csv('test.csv',index = False)

In [6]:
df = pd.read_csv(r'/home/mustahid34/Downloads/test.csv')

In [7]:
df

   Column2 Column3
0      1.5       A
1      2.5       B
2      3.5       C
3      4.5       D
4      5.5       E

### Read Html file

In [8]:
#first trying to copy population table from wiki by URL
url = 'https://en.wikipedia.org/wiki/World_population'

In [9]:
tables = pd.read_html(url)

pip install lxml

for running html url this package must be installed in environment

In [10]:
len(tables)

30

In [11]:
massy_data = tables[4]

In [12]:
massy_data

,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations)
0,NaN,NaN,NaN,NaN,NaN
1,India,1.425776e+09,NaN,14 Apr 2023,UN projection[92]
2,China,1.412600e+09,NaN,31 Dec 2021,National annual estimate[93]
3,United States,3.360785e+08,NaN,13 Feb 2024,National population clock[94]
4,Indonesia,2.786962e+08,NaN,1 Jul 2023,National annual estimate[95]
5,Pakistan,2.294890e+08,NaN,1 Jul 2022,UN projection[96]
6,Nigeria,2.167469e+08,NaN,1 Jul 2022,UN projection[96]
7,Brazil,2.172787e+08,NaN,13 Feb 2024,National population clock[97]
8,Bangladesh,1.682200e+08,NaN,1 Jul 2020,Annual Population Estimate[98]
9,Russia,1.471900e+08,NaN,1 Oct 2021,2021 preliminary census results[99]
10,Mexico,1.282712e+08,NaN,31 Mar 2022,NaN

In [13]:
massy_data

,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations)
0,NaN,NaN,NaN,NaN,NaN
1,India,1.425776e+09,NaN,14 Apr 2023,UN projection[92]
2,China,1.412600e+09,NaN,31 Dec 2021,National annual estimate[93]
3,United States,3.360785e+08,NaN,13 Feb 2024,National population clock[94]
4,Indonesia,2.786962e+08,NaN,1 Jul 2023,National annual estimate[95]
5,Pakistan,2.294890e+08,NaN,1 Jul 2022,UN projection[96]
6,Nigeria,2.167469e+08,NaN,1 Jul 2022,UN projection[96]
7,Brazil,2.172787e+08,NaN,13 Feb 2024,National population clock[97]
8,Bangladesh,1.682200e+08,NaN,1 Jul 2020,Annual Population Estimate[98]
9,Russia,1.471900e+08,NaN,1 Oct 2021,2021 preliminary census results[99]
10,Mexico,1.282712e+08,NaN,31 Mar 2022,NaN

In [14]:
massy_data.dropna(thresh = 2,inplace = True)

In [15]:
data = massy_data.drop('% of world',axis = 1)

In [16]:
data

,Country / Dependency,Population,Date,Source (official or from the United Nations)
1,India,1.425776e+09,14 Apr 2023,UN projection[92]
2,China,1.412600e+09,31 Dec 2021,National annual estimate[93]
3,United States,3.360785e+08,13 Feb 2024,National population clock[94]
4,Indonesia,2.786962e+08,1 Jul 2023,National annual estimate[95]
5,Pakistan,2.294890e+08,1 Jul 2022,UN projection[96]
6,Nigeria,2.167469e+08,1 Jul 2022,UN projection[96]
7,Brazil,2.172787e+08,13 Feb 2024,National population clock[97]
8,Bangladesh,1.682200e+08,1 Jul 2020,Annual Population Estimate[98]
9,Russia,1.471900e+08,1 Oct 2021,2021 preliminary census results[99]
10,Mexico,1.282712e+08,31 Mar 2022,NaN

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Country / Dependency                          10 non-null     object
 1   Population                                    10 non-null     float64
 2   Date                                          10 non-null     object
 3   Source (official or from the United Nations)  9 non-null      object
dtypes: float64(1), object(3)
memory usage: 400.0+ bytes

In [18]:
data['Date'] = pd.to_datetime( data['Date'])

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Country / Dependency                          10 non-null     object
 1   Population                                    10 non-null     float64
 2   Date                                          10 non-null     datetime64[ns]
 3   Source (official or from the United Nations)  9 non-null      object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 400.0+ bytes

data

In [20]:
data.to_csv('population1.csv',index= False)
#to convert in html 
data.to_html('population.html',index= False)

## Excel Files

In [21]:
#to read excel files, some package must be installed in environment
pip install openpyxl

SyntaxError: invalid syntax (1758798051.py, line 2)

In [22]:
#pip install openpyxl

In [23]:
#pip install xlrd

In [24]:
xl = pd.read_excel(r'/home/mustahid34/Downloads/example.xlsx')

In [25]:
xl

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [26]:
type(xl)

pandas.core.frame.DataFrame